/* navbar */
.navbar .navbar-brand img {
  object-fit: cover;
  width: 7rem;
  height: 2rem;
}

.navbar .container .btn {
  background-color: #dd2e44;
}

#search-input:focus {
  border-color: #dd2e44;
  box-shadow: none;
}

#menu,#close:focus {
  box-shadow: none;
}
/* navbar end */