/* navbar */
.navbar .navbar-brand img,
.offcanvas-title img {
  object-fit: cover;
  width: 7rem;
  height: 2rem;
}

.navbar .nav-search {
  width: 30rem;
}

.navbar .nav-search .btn,
.menu-search .btn {
  background-color: #dd2e44;
}

#nav-search:focus,
#menu-search:focus {
  border-color: #dd2e44;
  box-shadow: none;
}

#menu:focus,
#close:focus {
  box-shadow: none;
}
/* navbar end */