/* navbar */
.navbar .navbar-brand img,
.offcanvas-title img {
  object-fit: cover;
  width: 7rem;
  height: 2rem;
}

.navbar .nav-search {
  width: 30rem;
}

.navbar .nav-search .btn,
.menu-search .btn {
  background-color: #dd2e44;
}

#nav-search:focus,
#menu-search:focus {
  border-color: #dd2e44;
  box-shadow: none;
}

#menu:focus,
#close:focus {
  box-shadow: none;
}
/* navbar end */

/* tag */
.tag {
  margin-top: 4.4rem;
}

.tag .btn {
  margin: 0.7rem 0.4rem;
}

.tag .no-active {
  background-color: #eaeaea;
}
/* tag end */

/* jumbotron */
.jumbotron {
  background-image: url("../img/hero-image.png");
  background-size: cover;
  height: 20rem;
}
/* jumbotron end */

/* card */
.card .card-body .channel {
  margin-top: -1rem;
}

.card .card-body .views {
  margin-top: -1.2rem;
  margin-bottom: -0.5rem;
}

.card .card-body a img {
  width: 2.5rem;
}
/* card end */
